.home-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background-image: url(../../pictures/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}